$color-text: rgb(13, 13, 37);
$color-main: rgb(255, 136, 0);
$color-accent: rgb(255, 170, 77);
$color-star: rgb(255, 196, 21);
$color-grey: rgba(247, 247, 248, 0.1);

$font-lato: "Lato", sans-serif;
$font-playFair: "Playfair Display", serif;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@mixin flexDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}